/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.whisqr_welcome p, .whisqr_welcome li {
	font-size: 1.2em;
}

.whisqr_welcome li {
	list-style: disc;
	list-style-position: outside;
	margin-left: 30px;
}

.whisqr_welcome ul {
	margin-bottom: 30px;
}
  

.whisqr_welcome h2 {
	color: #5595cd;
}



p.standout {
	background-color: #FFFFFF;
	color: #000000;
	border: 2px solid #6D6D6D;
	padding: 12px;
	text-align: center;
	font-size: 1.3em;
}